/Library/
/Temp/
/Obj/
/Build/
/Builds/
/outputs/
/Logs/
/UserSettings/
/MemoryCaptures/
/Recordings/
*.csproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
work/
.utmp/
.superpowers/
.worktrees/
Tools/**/bin/
Tools/**/obj/
